h1 {
  color: white;
  font-size: 35px;
}

h2,
h1 {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

h2:last-child {
  margin-bottom: 35px;
}

button {
  background-color: black;
  cursor: pointer;
  font-size: 25px;
  margin: 5px 20px 30px 20px;
  padding: 5px 15px;
  color: white;
}
